.dialogs {
    float: left;
    width: calc(25% - 0px);
    margin: 0;
    box-sizing: border-box;
    border-right: 1px solid var(--border);
    background: var(--panel-background);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dialogs-content {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

.dialogs-third-column {
    width: calc(25% - 0px);
}

@media only screen and (max-width: 768px) {
    .dialogs {
        width: 100%;
        float: none;
    }
}
