.header-chat-subtitle {
    font-size: 14px;
    line-height: normal;
    color: var(--header-subtle-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-chat-subtitle-accent {
    color: var(--color-accent-dark);
}
