.notification-timer {
    max-height: 32px;
    position: relative;
}

.notification-timer-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notification-timer-progress {
    transform: scaleX(-1);
}
