.auth-caption {
    height: 311px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-caption-telegram-logo {
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: 50px auto 44px;
    fill: var(--color-accent-main);
}

.auth-caption-telegram-logo.active {
    fill: var(--background);
}
